/* Externes CSS-Style-Sheet; hier geht es um das Aussehen / Design einer Website */
div {
    background-color: red;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0.25em;
    border-color: 1px solid red;
}
section {
    background-color: beige;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p {
    font-size: 40px;
    color: aliceblue;
}