/* Externes CSS-Style-Sheet; hier geht es um das Aussehen / Design einer Website */
div {
    width: 200px;
    border-radius: 4px;
    background-color:beige;
    margin: 5px auto;
    padding: 10px;
}
table, th, td {
    table-layout: auto;
    border-collapse: collapse;
    border: 1px solid black;
}
section {
    background-color:beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p {
    font-size: 14pt;
    text-align: center;
}
input {
    width: 90%;
    padding: 0.5em;
    margin: 5px auto 10px;
}
label {
    font-size: 10pt;
    font-weight: bold;
}