p.display {
    position: absolute; 
    top: 32px;
    left: 50px; 
}
#result {
    height: 50px; 
    width: 300px; 
    text-align: end; 
    padding-right: 10px;
    font-size: 18pt;
}
#button {
    margin-left: 12px;
    border-radius: 3px;
    padding: 6px;
}