.grid-rainbow {
  width: 800px;
  display: grid;
  grid-template-areas:
      'test1 test1 test1 test1'
      'test2 test2 . test3'
      'test4 test4 test4 test4';
  padding: 10px;
}

.grid-rainbow > div {
  height: 35px;
  text-align: center;
  font-size: 30px;
}

.itemA { grid-area: test1; justify-self: stretch; background-color: blue; }
.itemB { grid-area: test2; justify-self: stretch; background-color: blueviolet }
.itemC { grid-area: test3; justify-self: stretch; background-color: yellow; }
.itemD { grid-area: test4; justify-self: stretch; background-color: green; }

.grid-container {
    width: 800px;
    display: grid;
    grid-template-areas:
        'Erstellen sie so'
        'eine Tabelle bitte'
        'bis Uhrzeit Uhr';
    gap: 10px;
    padding: 10px;
  }

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 20px;
  font-size: 30px;
  border: 5px solid black;
}

.item1 { grid-area: Erstellen; }
.item2 { grid-area: sie; }
.item3 { grid-area: so; }
.item4 { grid-area: eine; }
.item5 { grid-area: Tabelle; }
.item6 { grid-area: bitte; }
.item7 { grid-area: bis; }
.item8 { grid-area: Uhrzeit; }
.item9 { grid-area: Uhr; }

div > div:hover {
  background-color: red;
}