.grid-container {
    width: 800px;
    display: grid;
    grid-template-areas:
        'Erstellen sie so'
        'eine Tabelle bitte'
        'eine Uhrzeit Uhr';
    gap: 10px;
    padding: 10px;
  }

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 20px;
  font-size: 30px;
  border: 5px solid black;
  /* align-items:center; */
}

.item1 { grid-area: Erstellen; justify-self: start; }
.item2 { grid-area: sie; }
.item3 { grid-area: so; align-self: center; }
.item4 { grid-area: eine; }
.item5 { grid-area: Tabelle; }
.item6 { grid-area: bitte; }
/* .item7 { grid-area: bis; } */
.item8 { grid-area: Uhrzeit; }
.item9 { grid-area: Uhr; }

.grid-container > div:hover {
    background-color: red;
}